<nav class="nav navbar  navbar-expand-lg fixed-top navbar-background">
    <div class="container align-bottom with-blur-backdrop">
        <button class="icon-link navbar-brand">
            <img src="~/Assets/B-logo.png" class="img-logo" />
            @Html.ActionLink("Bussy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </button>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "Index", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Index", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Sign in", "Index", "Home", new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>
