<nav class="navbar fixed-top navbar-expand-lg navbar-background">
    <div class="container-custom d-flex justify-content-between align-items-center">
        <!-- Left Links -->
        <ul class="navbar-nav d-flex flex-row gap-3">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "Index", "Home", new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Index", "Home", new { @class = "nav-link" })
            </li>
        </ul>

        <!-- Centered Logo -->
        <a class="navbar-brand mx-auto" href="@Url.Action("Index", "Home")">
            @*<img src="~/Assets/B-logo.png" alt="Logo" class="img-logo" />*@
            <span class="brand-name">Bussy</span>
        </a>

        <!-- Right Links -->
        <ul class="navbar-nav d-flex flex-row gap-3">
            <li class="nav-item">
                @Html.ActionLink("Sign in", "Index", "SignIn", null, new { @class = "nav-link" })
            </li>
            <li>
                @Html.ActionLink("Log in", "Index", "LogIn", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>
